<h2 mat-dialog-title>{{ 'deleteAccountModal.phrase' | translate }}</h2>
<mat-dialog-content class="mat-typography">
  <mat-divider [inset]="true" style="width: 100%; margin: 0;"></mat-divider>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="form-inline" style="width: 100%;">
    <button mat-button type="button" class="btn btn-danger" (click)="onYesClick()">{{ 'deleteAccountModal.yes' | translate }}</button>
    <button mat-button type="button" class="btn btn-primary" (click)="onNoClick()">{{ 'deleteAccountModal.no' | translate }}</button>
  </div>
</mat-dialog-actions>
