@import "../../styles.scss";

svg {
	height: 80px;
	width: 80px;
}

#icon-svg {
	float: left;
}

.img-container {
	background-image: url('../../assets/images/background.png');
	height: 100%;
	width: 100%;
}

.parent-container {
	height: 100%;
	width: 50%;
}

#left-side {
	background-color: $purple;
	display: flex;
	float: left;
}

.right-side {
	display: flex;
	height: 100%;
}
