<div class="parent-container" id="left-side">
  <div class="img-container" style="display: flex;">
    <div class="d-flex flex-column" style="margin:auto">
      <div class="p-2" style="display: flex;">
        <svg fill="#FFFFFF" id="icon-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
          <path d="M 56.599609 21.599609 C 34.099609 21.599609 15.800781 40.100781 15.800781 62.800781 C 15.800781
          85.600781 34.099609 104 56.599609 104 C 66.899609 104 76.3 100.09922 83.5 93.699219 L 85.800781 96 L 83.699219
          98.199219 C 82.499219 99.399219 82.499219 101.3 83.699219 102.5 L 101.69922 120.69922 C 102.29922 121.29922
          103.00078 121.59961 103.80078 121.59961 C 104.60078 121.59961 105.40039 121.29922 105.90039 120.69922 L
          113.90039 112.59961 C 115.00039 111.39961 115.00078 109.50039 113.80078 108.40039 L 95.800781 90.199219 C
          95.200781 89.599219 94.499219 89.300781 93.699219 89.300781 C 92.899219 89.300781 92.099609 89.599219 91.599609
          90.199219 L 89.5 92.400391 L 87.199219 90 C 93.499219 82.7 97.400391 73.200781 97.400391 62.800781 C 97.400391
          40.100781 79.099609 21.599609 56.599609 21.599609 z M 56.599609 27.699219 C 75.799609 27.699219 91.400391
          43.500391 91.400391 62.900391 C 91.400391 82.300391 75.799609 98 56.599609 98 C 37.399609 98 21.800781 82.300391
          21.800781 62.900391 C 21.800781 43.500391 37.399609 27.699219 56.599609 27.699219 z M 56.699219 40.199219 C
          47.199219 40.199219 38.7 46.300781 35.5 55.300781 C 35 56.600781 35.699609 58.199609 37.099609 58.599609 C
          37.399609 58.699609 37.7 58.800781 38 58.800781 C 39.1 58.800781 40.1 58.1 40.5 57 C 42.9 50.1 49.499219
          45.400391 56.699219 45.400391 C 58.099219 45.400391 59.300781 44.200781 59.300781 42.800781 C 59.300781
          41.400781 58.099219 40.199219 56.699219 40.199219 z M 37.699219 64.900391 C 36.299219 64.900391 35.099609 66
          35.099609 67.5 L 35.099609 67.900391 C 35.199609 69.300391 36.300781 70.5 37.800781 70.5 C 39.200781 70.5
          40.400391 69.300391 40.400391 67.900391 L 40.400391 67.599609 C 40.400391 66.099609 39.300781 64.900391
          37.800781 64.900391 L 37.699219 64.900391 z M 93.800781 96.599609 L 107.59961 110.59961 L 103.80078 114.40039
          L 90 100.40039 L 93.800781 96.599609 z"/>
        </svg>
        <h3 class="right-side" style="color:white;margin-left:20px;margin-top:auto;margin-bottom:auto">{{ 'login.slogan1' | translate }}</h3>
      </div>
      <div class="p-2" style="display: flex;">
        <svg fill="#FFFFFF" id="icon-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
          <path d="M 64 6.0507812 C 49.15 6.0507812 34.3 11.7 23 23 C 0.4 45.6 0.4 82.4 23 105 C 34.3 116.3 49.2 122
          64 122 C 78.8 122 93.7 116.3 105 105 C 127.6 82.4 127.6 45.6 105 23 C 93.7 11.7 78.85 6.0507812 64 6.0507812
          z M 64 12 C 77.3 12 90.600781 17.099219 100.80078 27.199219 C 121.00078 47.499219 121.00078 80.500781 100.80078
          100.80078C 80.500781 121.10078 47.500781 121.10078 27.300781 100.80078 C 7.0007813 80.500781 6.9992188 47.499219
          27.199219 27.199219 C 37.399219 17.099219 50.7 12 64 12 z M 64 42 C 62.3 42 61 43.3 61 45 L 61 61 L 45 61 C 43.3
          61 42 62.3 42 64 C 42 65.7 43.3 67 45 67 L 61 67 L 61 83 C 61 84.7 62.3 86 64 86 C 65.7 86 67 84.7 67 83 L 67 67
          L 83 67 C 84.7 67 86 65.7 86 64 C 86 62.3 84.7 61 83 61 L 67 61 L 67 45 C 67 43.3 65.7 42 64 42 z"/>
        </svg>
        <h3 class="right-side" style="color:white;margin-left:20px;margin-top:auto;margin-bottom:auto">{{ 'login.slogan2' | translate }}</h3>
      </div>
      <div class="p-2" style="display: flex;">
        <svg fill="#FFFFFF" id="icon-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
          <path d="M 79.335938 15.667969 C 78.064453 15.622266 76.775 15.762109 75.5 16.099609 C 72.1 16.999609 69.299609
          19.199219 67.599609 22.199219 L 64 28.699219 C 63.2 30.099219 63.699609 32.000781 65.099609 32.800781 L 82.400391
          42.800781 C 82.900391 43.100781 83.400391 43.199219 83.900391 43.199219 C 84.200391 43.199219 84.399219 43.199609
          84.699219 43.099609 C 85.499219 42.899609 86.1 42.399219 86.5 41.699219 L 90.199219 35.199219 C 91.899219 32.199219
          92.4 28.700781 91.5 25.300781 C 90.6 21.900781 88.400391 19.100391 85.400391 17.400391 C 83.525391 16.337891 81.455078
          15.744141 79.335938 15.667969 z M 60.097656 38.126953 C 59.128906 38.201172 58.199219 38.724609 57.699219 39.599609
          L 27.5 92 C 24.1 97.8 22.200781 104.30039 21.800781 110.90039 L 21 123.80078 C 20.9 124.90078 21.5 125.99961 22.5
          126.59961 C 23 126.89961 23.5 127 24 127 C 24.6 127 25.199219 126.8 25.699219 126.5 L 36.5 119.40039 C 42 115.70039
          46.7 110.8 50 105 L 80.300781 52.599609 C 81.100781 51.199609 80.599219 49.3 79.199219 48.5 C 77.799219 47.7 75.899609
          48.199609 75.099609 49.599609 L 44.800781 102 C 41.900781 106.9 37.899609 111.20039 33.099609 114.40039 L 27.300781
          118.19922 L 27.699219 111.30078 C 27.999219 105.60078 29.699609 100 32.599609 95 L 62.900391 42.599609 C 63.700391
          41.199609 63.200781 39.3 61.800781 38.5 C 61.275781 38.2 60.678906 38.082422 60.097656 38.126953 z M 49 121 C 47.3
          121 46 122.3 46 124 C 46 125.7 47.3 127 49 127 L 89 127 C 90.7 127 92 125.7 92 124 C 92 122.3 90.7 121 89 121 L 49
          121 z M 104 121 A 3 3 0 0 0 101 124 A 3 3 0 0 0 104 127 A 3 3 0 0 0 107 124 A 3 3 0 0 0 104 121 z"/>
        </svg>
        <h3 class="right-side" style="color:white;margin-left:20px;margin-top:auto;margin-bottom:auto">{{ 'login.slogan3' | translate }}</h3>
      </div>
    </div>
  </div>
</div>

<div class="parent-container right-side">
  <div class="col-xs-6" style="margin:auto">
    <img src="/assets/images/job-icon.png" alt="job-icon" />
    <h5>{{ 'home.jumbotron.form-title' | translate }}</h5>
    <div *ngIf="hasLogginFailed.error" class="alert alert-danger" role="alert">{{hasLogginFailed.message}}</div>
    <form [formGroup]='loginForm' action="#" method="POST" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="input-group">
          <label for="login-email" style="display: none;">{{ 'login.email' | translate }}</label>
          <input id="login-email" type="email" class="form-control" [placeholder]="'login.email' | translate"
            formControlName="email" autocomplete="current-email" required />
        </div>
      </div>
      <div class="form-group">
        <div class="input-group" style="margin:0">
          <label for="login-password" style="display: none;">{{ 'login.password' | translate }}</label>
          <input id="login-password" type="password" class="form-control" [placeholder]="'login.password' | translate"
            formControlName="password" autocomplete="current-password" required />
        </div>
        <p class="p-forgot-pass">{{ 'login.forgot-pass' | translate }}</p>
      </div>
      <div class="form-group">
        <div class="btn-toolbar" style="text-align: center;" role="toolbar" aria-label="Login and register buttons">
          <div class="btn-group" role="group" aria-label="Login" style="width: 100%">
            <input [disabled]="!loginForm.valid" type="submit" class="btn btn-green btn-lg" [value]="'login.loginButton' | translate">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
