@import "../styles.scss";

nav {
  background-color: $purple;
  .nav-link, .navbar-brand {
    color: white;
  }
}

:host .ng-select.custom ::ng-deep .ng-option,
:host .ng-select.custom ::ng-deep .ng-select-container {
  background-color: $white;
  border-color: $white-darker;
  color: $purple;
  font-weight: bold;
  height: 40px;
  width: 90px;
}

.profile-picture {
  width: 25px;
  height: 25px;
}

#welcome-message:hover {
  background-color: transparent;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  .footer-link {
    margin-right: 10px;
  }
}
