<nav class="navbar navbar-expand-sm" id="navbar" [hidden]="this.router.url === '/login'">
  <a class="navbar-brand" href="/">{{ 'app.name' | translate }}</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a [hidden]="authenticationService.isUserLoggedIn()" class="nav-link" style="text-align: right;"
         routerLink="./jobs">{{ 'app.jobs' | translate }}</a>
    </li>
    <li class="nav-item">
      <a [hidden]="authenticationService.isUserLoggedIn()" class="nav-link" style="text-align: right;"
        routerLink="./jobs/favorite">{{ 'app.favorite' | translate }}</a>
    </li>
    <li class="nav-item">
      <a [hidden]="authenticationService.isUserLoggedIn()" class="nav-link" style="text-align: right;"
        routerLink="./jobs/blacklist">{{ 'app.blacklist' | translate }}</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <ng-select class="custom" [clearable]="false" [(ngModel)]="langSelect" [searchable]="false" (change)="translate.use(langSelect)">
        <ng-option [value]="lang" *ngFor="let lang of translate.getLangs()">
          <img src="/assets/images/flag-{{lang}}.png" width="20px" height="20px" [alt]="lang"/>
          &nbsp;{{lang.toUpperCase()}}
        </ng-option>
      </ng-select>
    </li>
    <li class="nav-item dropdown" [hidden]="authenticationService.isUserLoggedIn()">
      <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="{{ authenticationService.getUserProfilePicture() }}" class="rounded profile-picture" alt="Profile Picture">
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
        <a id="welcome-message" class="dropdown-item">{{ 'app.welcomeMessage' | translate:{firstName: authenticationService.getUserFirstName()} }}</a>
        <a class="dropdown-item" routerLink="./profile">{{ 'app.profile' | translate }}</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">{{ 'app.logout' | translate }}</a>
      </div>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
<footer>
  <div class="container text-center">
    <small>
      <a class="footer-link">Copyright &copy; 2020 Jobzer</a>
      <a class="footer-link" href="#">{{ 'app.about' | translate }}</a>
      <a class="footer-link" href="#">{{ 'app.cgu' | translate }}</a>
      <a class="footer-link" href="#">{{ 'app.policy' | translate }}</a>
    </small>
  </div>
</footer>
