<div class='col-5 container'>
  <div class='justify-content-md-center row'>
    <ng-container *ngIf='aJobs.length > 0 && jobToDisplay'>
      <div class='card card-parent'>
        <div class='card-header'>
          <h4 class='card-title' *ngIf='jobToDisplay.title'>{{jobToDisplay.title}}</h4>
        </div>
        <div class='card-body'>
          <p class='card-text' *ngIf='jobToDisplay.detail'>{{jobToDisplay.detail}}</p>
        </div>
        <div class='card-group'>
          <div class='card'>
            <ng-container *ngFor='let skill of jobToDisplay.skills; trackBy: trackByFn'>
              <span [ngClass]="hasSkill(skill.id) ? 'badge badge-success' : 'badge badge-danger'">{{skill.name}}</span>
            </ng-container>
          </div>
          <div class='card'>
            <h4 class='card-title'><b>Contact :</b></h4>
            <ul class='list-group list-group-flush' *ngIf='jobToDisplay.skills.length > 0'>
              <li class='list-group-item' *ngIf='jobToDisplay.company'>{{jobToDisplay.company}}</li>
              <li class='list-group-item' *ngIf='jobToDisplay.email'>{{jobToDisplay.email}}</li>
              <li class='list-group-item' *ngIf='jobToDisplay.phone'>{{jobToDisplay.phone}}</li>
            </ul>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class='card-buttons row'>
    <img class='col img-button' *ngIf='jobToDisplay.id' (click)='addToBlacklist(jobToDisplay.id)' src='../../assets/images/btn-croix.png' alt="Cross"/>
    <img class='col img-button' *ngIf='jobToDisplay.id' (click)='addToFavorite(jobToDisplay.id)' src='../../assets/images/btn-star.png' alt="Star"/>
    <img class='col img-button' *ngIf='aJobs[iCurrentIndex + 1]' (click)='showNextJob()' src='../../assets/images/round-btn-next.svg' alt="Next"/>
  </div>
  <ng-container *ngIf='aJobs.length === 0 || !jobToDisplay'>
    {{ 'jobs.empty' | translate }}
  </ng-container>
</div>
