@import '../../styles.scss';

.img-button {
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	max-height: 150px;
	max-width: 150px;
}
span {
	min-width: 50px;
	margin: 2px;
}

.card-buttons {
	position: relative;
	top: -70px;
}
.card-body {
	border: 2px solid $white-darker;
	min-height: 200px;
}
.card-header {
	align-items: center;
  background: url(../../assets/images/job-icon.png) no-repeat right;
  background-size: auto 100%;
	display: flex;
	height: 80px;
}
.card-header,
.card-group {
	background-color: $purple;
	border: 2px solid $purple-darker;
}
.card-group {
	padding-bottom: 80px;
}
.card-group > .card {
	border: 2px solid $white-darker;
	border-radius: 0;
	display: block;
	padding: 5px;
	margin: 20px;
}
.card-parent {
	border: none;
	box-shadow: 3px 3px 3px black;
	width: 100%;
}
.card-header > .card-title {
	color: $white;
}
.card-title {
	margin: 0;
}
.container {
	position: relative;
	top: 50px;
}
.list-group,
.list-group-item {
	border: 0;
	padding: .25rem .6rem;
}
