<div class="col-md-12 error-parent">
  <div class="error-template">
    <h3>{{ 'noPageFound.oops' | translate }}</h3>
    <h2>{{ 'noPageFound.error' | translate }}</h2>
    <div class="error-details mb-3">
      {{ 'noPageFound.description' | translate }}
    </div>
    <div class="error-actions">
      <a routerLink="/home" class="btn btn-danger btn-lg">
        {{ 'noPageFound.homeButton' | translate }}
      </a>
    </div>
  </div>
  <fa-icon [icon]="faExclamation" class="exclamation-icon"></fa-icon>
</div>
