.error-parent {
  position: relative;
}

.error-template {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.exclamation-icon {
  position: absolute;
  color: rgba(255, 0, 0, 0.8);
  font-size: 5em;
  left: 60%;
  top: 50%;
  transform: translate(-50%, 50%);
}
