<div class="container">
  <div class="justify-content-md-center row">
    <!-- Premier Bloc -->
    <div *ngIf="hasUploadError.error" class="alert alert-danger" role="alert">{{ hasUploadError.message }}</div>
    <div *ngIf="!hasUploadError.error && isProfileUpdated" class="alert alert-success" role="alert">{{ 'profile.updated' | translate }}</div>
    <div class="col-sm-10 row">
      <!-- Partie avatar -->
      <div class="col-3">
        <div id="avatar" style="width:200px">
          <img *ngIf="loggedUser.informations && loggedUser.profilePicture" [alt]="loggedUser.informations.firstname" [src]="loggedUser.profilePicture" style="width:100%;height:200px" />
          <div class="custom-file">
            <label class="form-control" id="avatar-upload" for="validatedCustomFile" style="content:none">Change avatar...
              <input type="file" id="validatedCustomFile" (change)="handleProfilePicture($event)" accept=".png, .jpg, .jpeg" />
            </label>
            <div class="invalid-feedback">{{ 'utils.fileUpload.invalid' | translate:{type: 'image'} }}</div>
          </div>
        </div>
      </div>
      <!-- Bloc à droite de l'avatar -->
      <div class="col" id="right-side">
        <div class="row">
          <div class="col" style="padding-left:0">
            <label for="userFirstName">{{ 'profile.firstName' | translate }}</label>
            <input *ngIf="loggedUser.informations" class="form-control" type="text" id="userFirstName" name="userFirstName" [(ngModel)]="loggedUser.informations.firstname" />
            <label for="userBirthdate">{{ 'profile.birthdate' | translate }}</label>
            <input *ngIf="loggedUser.informations" class="form-control" type="date" id="userBirthdate" name="userBirthdate" [(ngModel)]="loggedUser.informations.birthdate" />
          </div>
          <div class="col" style="padding-right:0">
            <label for="userLastName">{{ 'profile.lastName' | translate }}</label>
            <input *ngIf="loggedUser.informations" class="form-control" type="text" id="userLastName" name="userLastName" [(ngModel)]="loggedUser.informations.lastname" />
          </div>
        </div>
        <label for="userEmail">{{ 'profile.email' | translate }}</label>
        <input class="form-control" type="text" id="userEmail" name="userEmail" [(ngModel)]="loggedUser.email" />
      </div>
    </div>
    <!-- Confirmation mot de passe -->
    <div class="col-sm-10 row">
      <div class="col">
        <label for="userPassword">{{ 'profile.password' | translate }}</label>
        <input class="form-control" type="password" id="userPassword" name="userPassword" [(ngModel)]="loggedUser.password" />
      </div>
      <div class="col">
        <label for="userPasswordConfirm">{{ 'profile.passwordConfirm' | translate }}</label>
        <input class="form-control" type="password" id="userPasswordConfirm" name="userPasswordConfirm" [(ngModel)]="passwordVerified" />
      </div>
    </div>
    <!-- Skills -->
    <div class="col-sm-10 row">
      <div class="col">
        <label for="userSkills">{{ 'profile.skills' | translate }}</label>
        <ng-select class="custom" name="userSkills" ngDefaultControl id="userSkills" [(ngModel)]="userSkills" [multiple]="true" [searchable]="true" [clearable]="true" [closeOnSelect]="false" (change)="onChangeUserSkill($event)">
          <ng-option *ngFor="let skill of allSkills; trackBy: trackByFn" [value]="skill.id">{{skill.name}}</ng-option>
        </ng-select>
      </div>
    </div>
    <!-- Boutons -->
    <div class="col-sm-10 justify-content-md-center row">
      <div class="col-4">
        <button *ngIf="loggedUser" type="button" class="btn btn-success btn-block btn-lg" (click)="updateProfile()">{{ 'profile.saveProfileButton' | translate }}</button>
      </div>
      <div class="col-4">
        <button class='btn btn-warning btn-block btn-lg' type='submit' *ngIf="loggedUser && loggedUser.id" (click)="deleteMyAccount()">{{ 'profile.deleteProfileButton' | translate }}</button>
      </div>
    </div>
  </div>
</div>
