@import "../../styles.scss";

/* Jobzer id elements */
#avatar-upload {
  background-size: auto 100% !important;
  background: url(../../assets/images/add-image-icon.png) no-repeat right;
  font-weight: normal;
}
#avatar-upload::after {
	content: none;
}
#validatedCustomFile {
	display: none;
}
/* Custom re-defined CSS */
.row {
	margin: 10px 0 10px 0;
	width: 100%;
}
/* HTML tags */
label {
	font-size: 16px;
	font-weight: bold;
	margin: 0;
}
label:after {
	padding-left: 5px;
	color: #cb2431;
	content: "*";
  }
/* Angular tags */
ng-select.custom {
	width: 100%;
}
:host .ng-select.custom ::ng-deep .ng-select-container .ng-value {
	background-color: $purple;
	color: $white;
}
