/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~@angular/material/theming';

@include mat-core();

$green: #2ECC71;
$green-darker: #27AE60;
$nightBlue: #34495E;
$nightBlue-darker: #2C3E50;
$purple: #9B59B6;
$purple-darker: #8E44AD;
$white: #F5F6FA;
$white-darker: #DCDDE1;
$yellow: #F1C40F;
$yellow-darker: #F39C12;

body, html {
  height: 100%;
}
body {
  margin: 0 auto;
  position: relative;
  font-family: Montserrat, serif !important;
}

.btn {
  color: white;
  font-weight: bold;
}
.btn-green { background-color: $green; }
.btn-green:hover { background-color: $green-darker; }
.btn-green-darker { background-color: $green-darker; }
.btn-green-darker:hover { background-color: $green; }
.btn-nightBlue { background-color: $nightBlue; }
.btn-nightBlue:hover { background-color: $nightBlue-darker; }
.btn-nightBlue-darker { background-color: $nightBlue-darker; }
.btn-nightBlue-darker:hover { background-color: $nightBlue; }
.btn-purple { background-color: $purple; }
.btn-purple:hover { background-color: $purple-darker; }
.btn-purple-darker { background-color: $purple-darker; }
.btn-purple-darker:hover { background-color: $purple; }
.btn-white { background-color: $white; }
.btn-white:hover { background-color: $white-darker; }
.btn-white-darker { background-color: $white-darker; }
.btn-white-darker:hover { background-color: $white; }
.btn-yellow { background-color: $yellow; }
.btn-yellow:hover { background-color: $yellow-darker; }
.btn-yellow-darker { background-color: $yellow-darker; }
.btn-yellow-darker:hover { background-color: $yellow; }

.p-forgot-pass { color: gray; }

/* Angular Material Theme */
$jobzer-app-primary: mat-palette($mat-blue);
$jobzer-app-accent: mat-palette($mat-blue, A200, A100, A400);
$jobzer-app-warn: mat-palette($mat-red);

$jobzer-app-theme: mat-light-theme((
  color: (
    primary: $jobzer-app-primary,
    accent: $jobzer-app-accent,
    warn: $jobzer-app-warn,
  )
));
@include angular-material-theme($jobzer-app-theme);
