<ul class='list-group' *ngFor="let job of aFavoriteJobs; trackBy: trackByFn">
  <li class='list-group-item'>
    <div class='row'>
      <div class='col-6 text-center'>
        <h3>{{job.title}}</h3>
        <p>{{job.detail}}</p>
      </div>
      <div class='col'>
        <h5><strong>{{job.company}}</strong></h5>
        {{ 'blacklist.email' | translate }}: <a [href]="'mailto:' + job.email">{{job.email}}</a>
        <br />
        {{ 'blacklist.phone' | translate }}: <a [href]="'tel:' + job.phone">{{job.phone}}</a>
      </div>
      <div class='col-auto' id='row-buttons'>
        <a [href]="generateMailTo(job)" class="btn btn-info">{{ 'favorite.mailButton' | translate }}</a>
        <button (click)="deleteFromFavorites(job.id)" class="btn btn-danger">{{ 'blacklist.deleteButton' | translate }}</button>
      </div>
    </div>
  </li>
</ul>
<p *ngIf="aFavoriteJobs.length === 0" style="text-align: center; margin: 5%;">
  {{ 'blacklist.empty' | translate }}
</p>
