<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="display-3 font-weight-bold">{{ 'home.jumbotron.title' | translate }}</h2>
        <p>{{ 'home.jumbotron.description' | translate }}</p>
        <p><a class="btn btn-purple btn-lg" href="#" role="button">{{ 'home.jumbotron.button' | translate }} &raquo;</a></p>
      </div>
      <div class="col" *ngIf="authenticationService.isUserLoggedIn()">

        <div class="alert alert-danger" role="alert" *ngIf="hasLogginFailed.error">
          <p style="text-align: center;">{{ hasLogginFailed.message }}</p>
        </div>

        <form [formGroup]='loginForm' action="#" method="POST" (ngSubmit)="onSubmit()">
          <h5 class="font-weight-bold">{{ 'home.jumbotron.form-title' | translate }}</h5>
          <div class="form-group">
            <label for="login-email" style="display: none;">{{ 'login.email' | translate }}</label>
            <input id="login-email" type="email" class="form-control" [placeholder]="'login.email' | translate" formControlName="email"
                  required="required" autocomplete="current-email">
          </div>
          <div class="form-group">
            <label for="login-password" style="display: none;">{{ 'login.password' | translate }}</label>
            <input id="login-password" type="password" class="form-control" [placeholder]="'login.password' | translate"
                  formControlName="password" required="required" autocomplete="current-password">
            <p class="p-forgot-pass">{{ 'login.forgot-pass' | translate }}</p>
          </div>
          <div class="form-group">
            <div class="btn-toolbar d-flex justify-content-between" role="toolbar" aria-label="Login and register buttons">
              <div class="btn-group" role="group" aria-label="Login">
                <input [disabled]="!loginForm.valid" type="submit" class="btn btn-green btn-lg" [value]="'login.loginButton' | translate">
              </div>
              <div class="btn-group" role="group" aria-label="Register">
                <input type="submit" class="btn btn-yellow btn-lg" routerLink="../register" [value]="'login.registerButton' | translate">
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>{{ 'home.firstCard.title' | translate }}</h2>
      <p>{{ 'home.firstCard.description' | translate }}</p>
    </div>
    <div class="col-md-4">
      <h2>{{ 'home.secondCard.title' | translate }}</h2>
      <p>{{ 'home.secondCard.description' | translate }}</p>
    </div>
    <div class="col-md-4">
      <h2>{{ 'home.thirdCard.title' | translate }}</h2>
      <p>{{ 'home.thirdCard.description' | translate }}</p>
      <p><a class="btn btn-purple" href="#" role="button">{{ 'home.thirdCard.button' | translate }} &raquo;</a></p>
    </div>
  </div>
</div>
