label {
  font-weight: bold;
}

label:after {
  padding-left: 5px;
  color: #cb2431;
  content: "*";
}

.btn-container {
  margin: 20px 20px 20px 20px;
  text-align: center;
}
.btn-lg {
  width: 200px;
}