<div class='mb-5 mt-5'>
  <p class='text-center' style='font-family: Consolas, serif;color: #6a737d;'>{{ 'register.mainTitle' | translate }}</p>
  <h1 class='text-center' style='font-family:Segoe UI, serif;font-weight:500;'>{{ 'register.subTitle' | translate }}</h1>
</div>
<div class='col-6 container' style='font-family:Segoe UI, serif;font-size:14px;'>
  <form class='justify-content-md-center' [formGroup]='registerForm' (ngSubmit)='createAccount()'>
  <div class="row">
    <div class='col form-group'>
      <label for='firstname'>{{ 'register.firstName' | translate }}</label>
      <input class='form-control' id='firstname' type='text' formControlName='firstname' required>
      <div *ngIf='isSubmitted && registerFormControls.firstname.errors' class='alert alert-danger'>
        <ng-container *ngIf="registerFormControls.firstname.errors.required">{{ 'register.firstNameRequired' | translate }}</ng-container>
      </div>
    </div>
    <div class='col form-group'>
      <label for='lastname'>{{ 'register.lastName' | translate }}</label>
      <input class='form-control' id='lastname' type='text' formControlName='lastname' required>
      <div *ngIf='isSubmitted && registerFormControls.lastname.errors' class='alert alert-danger'>
        <ng-container *ngIf="registerFormControls.lastname.errors.required">{{ 'register.lastNameRequired' | translate }}</ng-container>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-6 form-group'>
      <label for='birthdate'>{{ 'register.birthdate' | translate }}</label>
      <input class='form-control' id='birthdate' type='date' formControlName='birthdate' required>
      <div *ngIf='isSubmitted && registerFormControls.birthdate.errors' class='alert alert-danger'>
        <ng-container *ngIf="registerFormControls.birthdate.errors.required">{{ 'register.birthdateRequired' | translate }}</ng-container>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col form-group'>
      <label for='email'>{{ 'register.email' | translate }}</label>
      <input class='form-control' id='email' type='email' formControlName='email' required>
      <div *ngIf='isSubmitted && registerFormControls.email.errors' class='alert alert-danger'>
        <ng-container *ngIf="registerFormControls.email.errors.required">{{ 'register.emailRequired' | translate }}</ng-container>
        <ng-container *ngIf="registerFormControls.email.errors.email">{{ 'register.emailInvalid' | translate }}</ng-container>
      </div>
    </div>
    <div class='col form-group'>
      <label for='confirm-email'>{{ 'register.confirmEmail' | translate }}</label>
      <input class='form-control' id='confirm-email' type='email' formControlName='confirmEmail' autocomplete='usermail' required>
      <div *ngIf='isSubmitted && registerFormControls.confirmEmail.errors' class='alert alert-danger'>
        <ng-container *ngIf="registerFormControls.confirmEmail.errors.required">{{ 'register.emailRequired' | translate }}</ng-container>
        <ng-container *ngIf="registerFormControls.confirmEmail.errors.email">{{ 'register.emailInvalid' | translate }}</ng-container>
        <ng-container *ngIf="registerFormControls.confirmEmail.errors.mustMatch">{{ 'register.confirmEmailMustMatch' | translate }}</ng-container>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col form-group'>
      <label for='password'>{{ 'register.password' | translate }}</label>
      <input class='form-control' id='password' type='password' formControlName='password' autocomplete="new-password" required>
      <div *ngIf='isSubmitted && registerFormControls.password.errors' class='alert alert-danger'>
        <ng-container *ngIf="registerFormControls.password.errors.required">{{ 'register.passwordInvalid' | translate }}</ng-container>
        <ng-container *ngIf="registerFormControls.password.errors.minlength">{{ 'register.passwordMinLength' | translate }}</ng-container>
      </div>
    </div>
    <div class='col form-group'>
      <label for='confirm-password'>{{ 'register.confirmPassword' | translate }}</label>
      <input class='form-control' id='confirm-password' type='password' formControlName='confirmPassword' autocomplete="new-password" required>
      <div *ngIf='isSubmitted && registerFormControls.confirmPassword.errors' class='alert alert-danger'>
        <ng-container *ngIf="registerFormControls.confirmPassword.errors.required">{{ 'register.confirmPasswordInvalid' | translate }}</ng-container>
        <ng-container *ngIf="registerFormControls.confirmPassword.errors.mustMatch">{{ 'register.confirmPasswordMustMatch' | translate }}</ng-container>
      </div>
    </div>
  </div>
  <div class="alert alert-success" role="alert" *ngIf="user.id">
    <p>{{ 'register.verifyEmail' | translate }}</p>
  </div>
  <div class='btn-container'>
    <button class='btn btn-warning btn-lg' type='submit'>{{ 'register.registerButton' | translate }}</button>
  </div>
  </form>
  <p class='text-center' style='font-family:Segoe UI, serif;font-size:12px;'>{{ 'register.termsOfUse' | translate }}</p>
</div>
